.page-container {
    display: flex;
}
.main {
    text-align: left;
}
.categories-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.category-list-item {
    display: grid;
    justify-content: start;
    row-gap: 0.5rem;
    margin: 1rem;
    cursor: pointer;
}